src/main/resources/config.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright 2019-present HiveMQ GmbH

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--- root -->
    <xs:element name="hivemq" type="hiveMQConfigEntity"/>

    <xs:complexType name="hiveMQConfigEntity">
        <xs:all>
            <xs:element name="listeners" type="listenersEntity" minOccurs="0"/>
            <xs:element name="mqtt" type="mqttConfigEntity" minOccurs="0"/>
            <xs:element name="restrictions" type="restrictionsEntity" minOccurs="0"/>
            <xs:element name="security" type="securityConfigEntity" minOccurs="0"/>
            <xs:element name="anonymous-usage-statistics" type="usageStatisticsEntity" minOccurs="0"/>
            <xs:element name="persistence" type="persistenceEntity" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <!-- Listeners -->
    <xs:complexType name="listenersEntity">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="tcp-listener">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="port" type="port"/>
                            <xs:element name="bind-address" type="nonEmtpyString" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Default: 0.0.0.0</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="name" type="nonEmtpyString" minOccurs="0"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tls-tcp-listener">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="port" type="port"/>
                            <xs:element name="bind-address" type="nonEmtpyString" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Default: 0.0.0.0</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="name" type="nonEmtpyString" minOccurs="0"/>
                            <xs:element name="tls" type="listenerTLSEntity"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="websocket-listener">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="port" type="port"/>
                            <xs:element name="bind-address" type="nonEmtpyString" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Default: 0.0.0.0</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="name" type="nonEmtpyString" minOccurs="0"/>
                            <xs:element name="path" type="nonEmtpyString" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Default: /mqtt</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="subprotocols" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="subprotocol" type="nonEmtpyString" minOccurs="0"
                                                    maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="allow-extensions" type="xs:boolean" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Default: false</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tls-websocket-listener">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="port" type="port"/>
                            <xs:element name="bind-address" type="nonEmtpyString" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Default: 0.0.0.0</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="name" type="nonEmtpyString" minOccurs="0"/>
                            <xs:element name="path" type="nonEmtpyString" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Default: /mqtt</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="subprotocols" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="subprotocol" type="nonEmtpyString" minOccurs="0"
                                                    maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="allow-extensions" type="xs:boolean" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Default: false</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="tls" type="listenerTLSEntity"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="listenerTLSEntity">
        <xs:all>
            <xs:element name="keystore" type="keystoreEntity"/>
            <xs:element name="truststore" type="truststoreEntity" minOccurs="0"/>
            <xs:element name="protocols" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="protocol" type="nonEmtpyString" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cipher-suites" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cipher-suite" type="nonEmtpyString" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="prefer-server-cipher-suites" type="xs:boolean" minOccurs="0"/>
            <xs:element name="handshake-timeout" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Timeout in milliseconds. Default: 10000</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="client-authentication-mode" type="clientAuthenticationMode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Default: NONE</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <!-- MQTT -->
    <xs:complexType name="mqttConfigEntity">
        <xs:all>
            <xs:element name="queued-messages" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="max-queue-size" type="xs:long" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: 1000</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="strategy" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: discard</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="discard"/>
                                    <xs:enumeration value="discard-oldest"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="retained-messages" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="wildcard-subscriptions" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="quality-of-service" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="max-qos" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: 2</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:int">
                                    <xs:enumeration value="0"/>
                                    <xs:enumeration value="1"/>
                                    <xs:enumeration value="2"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="topic-alias" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="max-per-client" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: 5</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:int">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="65535"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="message-expiry" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="max-interval" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Interval in seconds. Default: 4294967296</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:long">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="4294967296"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="session-expiry" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="max-interval" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Interval in seconds. Default: 4294967296</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:long">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="4294967295"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="subscription-identifier" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="shared-subscriptions" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="keep-alive" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="max-keep-alive" minOccurs="0">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Keep-alive in seconds. Default: 65535</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:int">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="65535"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="allow-unlimited" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="packets" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="max-packet-size" minOccurs="0">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Size in bytes. Default: 268435460</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:int">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="268435460"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="receive-maximum" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="server-receive-maximum" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: 10</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:int">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="65535"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>


    <!-- Restrictions -->
    <xs:complexType name="restrictionsEntity">
        <xs:all>
            <xs:element name="max-connections" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        -1 means unlimited. License limitations still apply. Default: -1
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="-1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="max-client-id-length" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Default: 65535</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="65535"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="max-topic-length" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Default: 65535</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="65535"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="no-connect-idle-timeout" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Timeout in milliseconds. Default: 10000</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="incoming-bandwidth-throttling" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Throttling in bytes per seconds. Default: 0</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:all>
    </xs:complexType>


    <!-- Security -->
    <xs:complexType name="securityConfigEntity">
        <xs:all>
            <xs:element name="payload-format-validation" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: false</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="utf8-validation" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="allow-empty-client-id" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="allow-request-problem-information" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>


    <!-- Usage Statistics -->
    <xs:complexType name="usageStatisticsEntity">
        <xs:all>
            <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Default: false</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>


    <!-- Persistence -->
    <xs:complexType name="persistenceEntity">
        <xs:all>
            <xs:element name="mode" default="file" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="file"/>
                        <xs:enumeration value="in-memory"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:all>
    </xs:complexType>


    <!-- Common types -->

    <xs:complexType name="keystoreEntity">
        <xs:all>
            <xs:element name="path" type="nonEmtpyString"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="private-key-password" type="xs:string"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="truststoreEntity">
        <xs:all>
            <xs:element name="path" type="nonEmtpyString"/>
            <xs:element name="password" type="xs:string"/>
        </xs:all>
    </xs:complexType>

    <xs:simpleType name="clientAuthenticationMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPTIONAL"/>
            <xs:enumeration value="REQUIRED"/>
            <xs:enumeration value="NONE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="port">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="65535"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="nonEmtpyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:whiteSpace value="collapse"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>

